.generate{
    width: 100%;
    padding-top: 15px;
    padding-bottom:30px;
}
.sub-container{
    /* height: 80vh; */
    width: 100%;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 0 3px green;
    border-radius: 10px;
    padding: 20px 15px;
}
.title h1{
    /* color:var(--txt-green); */
    color: rgb(119, 38, 194);
    letter-spacing: 0.5px;
}
.flex p{
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: rgb(185, 185, 185);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex h4{
    font-size: 1.2rem;
    color: rgb(135, 50, 214);
    letter-spacing: 0.5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex textarea{
    padding:10px 7px;
    border: none;
    resize: none;
    background-color: rgb(10, 10, 10);
    border-radius: 8px;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    overflow-y: auto;
    color: rgb(180, 180, 180);
    letter-spacing: 0.8px;
    border: 1px solid rgba(0, 92, 0, 0.681);
    &::-webkit-scrollbar{
        width: 6px;
        background-color: rgb(83, 25, 122);
        border-radius: 5px;
    }
    &:hover{
            border: 1px solid rgba(240, 240, 240, 0.681);

    }
}
.gen-btn{
    margin-top: 10px;
    & button{
        padding: 8px 20px;
        border: none;
        border-radius: 8px;
        font-size: 1.1rem;
        background:linear-gradient(45deg, rgba(164, 177, 90, 0.849), rgba(162, 0, 255, 0.87)) ;
        font-weight: 600;
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 0 0 5px rgb(71, 0, 138);
        &:hover{
            transform: scale(0.95);
        }
    }
}
.code-container{
   min-height: 81vh;
   position: relative;
   padding: 0;
   margin-top: 10px;
   &::-webkit-scrollbar{
    width: 4px;
    background-color: rgb(97, 0, 189);
    border-radius: 6px;
   }
}
.code-function{
    padding: 12px 30px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(69, 24, 141, 0.555);
    & h3{
        font-size: 1.3rem;
        color: rgb(165, 165, 165);
    }
    & .icons{
        cursor: pointer;
        & button{
            background-color: rgb(0, 0, 0);
            cursor: pointer;
            color: rgb(7, 156, 27);
            padding: 7px 15px;
            border-radius: 8px;
            border: 1px solid rgb(4, 85, 4);
            font-size: 1rem;
            &:hover{
                background-color: green;
                color: rgb(255, 255, 255);
                border: 1px solid rgb(175, 170, 170);
            }
        }
        & .icon{
            background:linear-gradient(45deg, rgb(190, 190, 11), rgba(120, 40, 196, 0.945));
            color: black;
            padding: 8px;
            border-radius: 50%;
            font-size: 2.2rem;
            box-shadow: 0 0 5px rgb(0, 0, 0);
            transition: 0.2s;
            &:hover{
              border-radius:12px 4px 12px 4px;  
            }
        }
    }
}
.code-container .clip-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.code-sec{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    & .icon{
        background: linear-gradient(45deg, rgba(255, 255, 0, 0.795),blue);
        width: 55px;
        height:auto;
        color: black;
        padding: 10px;
        border-radius: 50%;
    }
    & p{
        color: rgb(156, 156, 156);
    }
}

@media (max-width:655px) {
    .gen-btn{
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        & button{
            align-self: flex-end;
        }
    }
    .code-function .icons{
        gap: 15px;
    }
    .code-function .icons button{
        padding: 5px 10px;
    }
    .code-sec .icon{
        padding: 8px;
        width: 40px;
    }
}