.home{
    width: 100%;
    height: 90vh;
    text-align: center;
     background-image:
    linear-gradient(
      rgba(10, 7, 7, 0.623),
      rgba(0, 0, 0, 0.507)
    ),
    url("../../assets/bbg-image.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-container h1{
    font-size: 2.rem;
    color: rgb(136, 255, 0);
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    line-height: 1.3;
}
.home-container p{
    color: rgb(155, 155, 155);
    letter-spacing: 1px;
}
.home-container  button{
    align-self: center;
    width: fit-content;
    padding: 8px 20px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px rgb(80, 218, 0);
    cursor: pointer;
    line-height: 1.2;
    transition: 0.2s;
    &:hover{
        transform: scale(0.97);
    }

}
.arrow{
        padding-top: 8px
    }