.navbar{
    position:sticky;
    top: 0;
    z-index: 99;
    background-color:rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(56, 1, 107, 0.452);
}
.logo{
    color:rgb(122, 0, 204);
}
.nav-items .item{
    font-size: 1.1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    cursor: pointer;
    color:rgb(216, 216, 216);
    text-decoration: none;
    font-weight: 600;
}
.nav-items .item:nth-child(-n + 2){
    position: relative;
    &::after{
        content: "";
        width:0%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom: 2px solid rgb(0, 232, 232); 
        transition: 0.2s;     
    }
    &:hover{
        color: rgb(0, 232, 232);
    }
    &:hover::after{
        width: 100%;
    }
}
.nav-items .item:nth-child(3){
    padding: 7px 15px;
    border-radius: 10px;
    background-color:rgb(136, 57, 209);
    color: black;
    &:hover{
        background-color: aqua;
        color: black;
    }
}