.footer{
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgba(53, 53, 177, 0.541);
    padding: 10px;
    gap: 6px;
    & h3{
        font-size: 1.4rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(39, 161, 15);
        letter-spacing: 0.6px;
    }
    & h4{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        letter-spacing: 0.6px;
        font-size: 1.1rem;
        color: rgb(128, 5, 158);
    }
    & p{
        font-size: 0.8rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(88, 88, 88);
    }
}