.signup{
    width: 100%;
    height: 91vh;
    padding: 0 10px;
}
.signup-container{
    background-color: rgb(0, 0, 0);
    box-shadow: 00 0 3px green;
    padding: 20px 30px;
    border-radius: 15px;
    & h1{
        font-size: 2.2rem;
        font-family:'Times New Roman', Times, serif;
        text-decoration: underline;
    }
    & form{
        & input{
            padding: 10px 12px;
            min-width:300px;
            border: none;
            font-size: 1rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            outline: none;
            color: green;
            font-weight: 600;
            letter-spacing: 0.7px;
            background-color: rgb(26, 26, 26);
            border-radius: 5px;
            box-shadow: 0 0 2px rgb(0, 253, 0);
        }
        & p{
           font-size: 0.9rem; 
           color: rgb(0, 117, 35);
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           margin-top: -8px;
           align-self: end;
           padding-right: 6px;
           & .sign{
            font-size: 1rem;
            cursor: pointer;
            color: rgb(153, 0, 255);
            text-decoration: underline;
           }
        }
          & button{
            width: 100%;
            padding: 9px 25px;
            border: none;
            font-size: 1.1rem;
            border-radius: 10px;
            font-weight: 900;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            letter-spacing: 1px;
            cursor: pointer;
            color: white;
            background-color: rgb(135, 6, 255);
      }
    }
}

/* media query */
@media (max-width:576px) {
    .signup-container{
        padding:20px;
        & h1{
            font-size: 2.2rem;
        }
        & form input{
            padding:10px;
            font-size: 1.1rem;
        }
        & form button{
            padding:10px;
            font-size: 1.1rem;
        }
    }
}
@media (max-width:382px){
   .signup-container{
    padding:20px 15px;
    & form{
        gap: 18px;
    }
    & form input{
        min-width: 100%;
    }
   }
}